/* input price filter */
.input-price-filter{
    width: 100%;
    margin: 0 0 69px 0;   
}
.input-price-filter[type="range"]::-moz-range-progress{
    background-color: var(--color-brand-1); 
    height: 7px;
}
.input-price-filter[type="range"]::-moz-range-track{  
    background-color: var(--color-grey-5);
    height: 7px;
}

